{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
{% include 'blog/navbar.html' %}    

<div class="post-container">
    
        

        <div style="border: white 1px solid;">
            <div class="card" style="width: 100%;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">About me </h5>
                  <p class="card-text">Hello I am Jifat</p>
                  <p class="card-text">this is  my personal blogging site .</p>
                  <p class="card-text">I am a student who loves programming, tech and productivity talk</p>
                </div>
              </div>
        </div>            

</div>







{% endblock content %}